<section>
  <div class="page-header">
    <h1>Dataexclusions</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="dataexclusion in vm.dataexclusions"
       ui-sref="dataexclusions.view({ dataexclusionId: dataexclusion._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="dataexclusion.created | date:'mediumDate'"></span>
        by
        <span ng-if="dataexclusion.user" ng-bind="dataexclusion.user.displayName"></span>
        <span ng-if="!dataexclusion.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="dataexclusion.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.dataexclusions.$resolved && !vm.dataexclusions.length">
    No Dataexclusions yet, why don't you <a ui-sref="dataexclusions.create">create one</a>?
  </div>
</section>
