<section>
  <div class="page-header">
    <h1>Primarysortcriterions</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="primarysortcriterion in vm.primarysortcriterions"
       ui-sref="primarysortcriterions.view({ primarysortcriterionId: primarysortcriterion._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="primarysortcriterion.created | date:'mediumDate'"></span>
        by
        <span ng-if="primarysortcriterion.user" ng-bind="primarysortcriterion.user.displayName"></span>
        <span ng-if="!primarysortcriterion.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="primarysortcriterion.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.primarysortcriterions.$resolved && !vm.primarysortcriterions.length">
    No Primarysortcriterions yet, why don't you <a ui-sref="primarysortcriterions.create">create one</a>?
  </div>
</section>
