<section>
  <div class="page-header">
    <h1 ng-bind="vm.collection.title"></h1>
  </div>
  <table>
    <tr ng-repeat="(key,value) in vm.collection">
      <td>{{ key }} - {{ value }}</td>
    </tr>
  </table>
  <div class="pull-right"
       ng-show="vm.collection.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="collections.edit({ collectionId: vm.collection._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
    
      <span ng-if="!vm.collection.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.collection.content"></p>
</section>
