<section>
  <div class="page-header">
    <h1>Collectionsets</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="collectionset in vm.collectionsets"
       ui-sref="collectionsets.view({ collectionsetId: collectionset._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="collectionset.created | date:'mediumDate'"></span>
        by
        <span ng-if="collectionset.user" ng-bind="collectionset.user.displayName"></span>
        <span ng-if="!collectionset.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="collectionset.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.collectionsets.$resolved && !vm.collectionsets.length">
    No Collectionsets yet, why don't you <a ui-sref="collectionsets.create">create one</a>?
  </div>
</section>
