<section>
  <div class="page-header">
    <h1>Titles</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="title in vm.titles"
       ui-sref="titles.view({ titleId: title._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="title.created | date:'mediumDate'"></span>
        by
        <span ng-if="title.user" ng-bind="title.user.displayName"></span>
        <span ng-if="!title.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="title.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.titles.$resolved && !vm.titles.length">
    No Titles yet, why don't you <a ui-sref="titles.create">create one</a>?
  </div>
</section>
