<section>
  <div class="page-header">
    <h1>Displaytimings</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="displaytiming in vm.displaytimings"
       ui-sref="displaytimings.view({ displaytimingId: displaytiming._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="displaytiming.created | date:'mediumDate'"></span>
        by
        <span ng-if="displaytiming.user" ng-bind="displaytiming.user.displayName"></span>
        <span ng-if="!displaytiming.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="displaytiming.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.displaytimings.$resolved && !vm.displaytimings.length">
    No Displaytimings yet, why don't you <a ui-sref="displaytimings.create">create one</a>?
  </div>
</section>
