<section>
  <div class="page-header">
    <h1>Collectionexclusionlists</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="collectionexclusionlist in vm.collectionexclusionlists"
       ui-sref="collectionexclusionlists.view({ collectionexclusionlistId: collectionexclusionlist._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="collectionexclusionlist.created | date:'mediumDate'"></span>
        by
        <span ng-if="collectionexclusionlist.user" ng-bind="collectionexclusionlist.user.displayName"></span>
        <span ng-if="!collectionexclusionlist.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="collectionexclusionlist.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.collectionexclusionlists.$resolved && !vm.collectionexclusionlists.length">
    No Collectionexclusionlists yet, why don't you <a ui-sref="collectionexclusionlists.create">create one</a>?
  </div>
</section>
